apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: airflow-clusters
spec:
  generators:
  - list:
      elements:
        - cluster: airflow-t1
          url: https://kubernetes.default.svc
          env: dev
        - cluster: airflow-t2
          url: https://kubernetes.default.svc
          env: dev
  template:
    metadata:
      name: '{{cluster}}-cluster'
    spec:
      project: default
      source:
        repoURL: https://github.com/pallavtyagi/airflow-helm.git
        targetRevision: main
        path: charts/airflow/
      destination:
        server: '{{url}}'
        namespace: '{{cluster}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
        - CreateNamespace=true 